@model IEnumerable<Address>

@{
    ViewData["Title"] = "Addresses";
}

<h1>Addresses</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.AddressText)</th>
            <th>@Html.DisplayNameFor(model => model.Town)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.AddressText)</td>
            <td>@item.Town?.Name</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AddressId" class="btn btn-sm btn-outline-secondary">Edit</a>
                <a asp-action="Details" asp-route-id="@item.AddressId" class="btn btn-sm btn-outline-secondary">Details</a>
                <a asp-action="Delete" asp-route-id="@item.AddressId" class="btn btn-sm btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
